@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700;800&display=swap');

html,
body {
	overflow-x: hidden
}

body {
	font-family: 'Heebo', sans-serif;
	background-color: #F5F5F5;
	color: #000;
}

a {
	color: #000 !important;
	text-decoration: none;
}

a:hover {
	color: #292c2e !important;
}

::selection {
  color: #000;
  background: #fff;
}

/* 
------------------------------------------- 
	UTILITY 
-------------------------------------------
*/
.text-fade-1 {
	color: rgba(255, 255, 255, .5) !important;
}

.text-fade-black-1 {
	color: rgba(0, 0, 0, .5) !important;
}

.pointer {
	cursor: pointer;
}

.leading-tight {
	line-height: 1.25;
}

.leading-snug {
	line-height: 1.375;
}

.leading-normal {
	line-height: 1.5;
}

.leading-relaxed {
	line-height: 1.625;
}

.leading-loose {
	line-height: 2;
}

.v-invisible {
	visibility: hidden;
}

.ls-8px {
	letter-spacing: 8px;
}

.ls-5px {
	letter-spacing: 5px;
}

.fs-7 {
	font-size: 0.75rem;
}

.fw-bolder {
	font-weight: 900 !important;
}

.fw-medium {
	font-weight: 600;
}

.p-8 {
	padding: 7.5rem;
}

.py-13 {
	padding-top: 15rem;
	padding-bottom: 15rem;
}

.pe-6 {
	padding-right: 4.5rem;
}

.mp-0 {
	margin: 0 !important;
	padding: 0 !important;
}

.min-vh-50 {
	min-height: 50vh;
}

.z-999 {
	z-index: 999;
}

.bg-black {
	background-color: #000;
}

.bg-gray-1 {
	background-color: #A4A4A4;
}

.bg-gray-2 {
	background-color: #E8E8E8;
}

.card-hover {
	transition: .3s;
}

.card-hover:hover {
	opacity: .8;
}

.text-border-bottom::after {
	content: '';
	content: '';
	display: inline-block;
	position: absolute;
	left: 0;
	top: 35px;
	margin: auto;
	width: 100%;
	border-bottom: 2px solid #fff;
	padding-top: 0.5rem;
}

.btn-border-white {
	color: #fff !important;
	background-color: transparent;
	border: 3px solid #fff;
}

.btn-border-white:hover {
	color: #ebebeb !important;
	border: 3px solid #ebebeb;
}

.btn-border-black {
	color: #000 !important;
	background-color: transparent;
	border: 3px solid #000;
}

.btn-border-black:hover {
	color: #5c5c5c !important;
	border: 3px solid #5c5c5c;
}

.wh-16px {
	width: 16px;
	height: 16px;
}

/* 
------------------------------------------- 
	SECTION 1 
-------------------------------------------
*/
.bg-image-1 {
	background-image: url(../image/bg-1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.bg-image-2 {
	background-image: url(../image/bg-2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.bg-image-3 {
	background-image: url(../image/bg-3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.bg-image-4 {
	background-image: url(../image/bg-4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.bg-image-5 {
	background-image: url(../image/bg-5.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.bg-image-6 {
	background-image: url(../image/bg-6.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.bg-image-7 {
	background-image: url(../image/bg-7.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.bg-image-8 {
	background-image: url(../image/bg-8.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.bg-image-9 {
	background-image: url(../image/bg-9.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.border-fade-black-1 {
	border-color: rgba(0, 0, 0, .5);
}

/* 
------------------------------------------- 
	FOOTER
-------------------------------------------
*/
.border-icon {
	border: 1px solid rgba(0, 0, 0, .5)
}

/* 
------------------------------------------- 
	BREAKPOINT
-------------------------------------------
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}